@import "../../../css-config/mixins.scss";

.shop-by-category {
    margin: 25px 0;

    @include md {
        margin: 50px 0;
    }

    .categories {
        display: flex;
        justify-content: center;
        flex-flow: wrap;
        flex-wrap: wrap;
        gap: 10px;

        .category {
            background-color: black;
            width: calc(40% - 5px);
            cursor: pointer;
            overflow: hidden;

            @include md {
                width: calc(20% - 10px);
            }

            img {
                width: 100%;
                display: block;
                transition: all ease 0.3s;
            }


            &:hover {
                
                    transform: scale(1.04);
                
            }

            h2 {
                color: yellow;
                text-align: center;
                padding-bottom: 4px;

            }
        }
    }
}
